In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split

In [61]:
dataset = pd.read_csv(r"C:\Users\slava\Desktop\ProjDiabetes\data\PimaIndiansDiabetes.csv")
dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [62]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1]

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=35)

In [64]:
y_train

307    0
739    1
250    0
316    0
67     0
      ..
249    0
448    1
33     0
271    0
713    0
Name: Outcome, Length: 537, dtype: int64

In [65]:
X_train.shape

(537, 8)

In [66]:
for i in range(X_train.shape[1]):
    mean = 0
    for j in range(X_train.shape[0]):
        mean += X_train[j][i]
    for j in range(X_train.shape[0]):
        if X_train[j][i] == 0:
            X_train[j][i] == mean
for i in range(X_test.shape[1]):
    mean = 0
    for j in range(X_test.shape[0]):
        mean += X_test[j][i]
    for j in range(X_test.shape[0]):
        if X_test[j][i] == 0:
            X_test[j][i] == mean

In [67]:
X_train

array([[0.00e+00, 1.37e+02, 6.80e+01, ..., 2.48e+01, 1.43e-01, 2.10e+01],
       [1.00e+00, 1.02e+02, 7.40e+01, ..., 3.95e+01, 2.93e-01, 4.20e+01],
       [9.00e+00, 1.06e+02, 5.20e+01, ..., 3.12e+01, 3.80e-01, 4.20e+01],
       ...,
       [6.00e+00, 9.20e+01, 9.20e+01, ..., 1.99e+01, 1.88e-01, 2.80e+01],
       [2.00e+00, 1.08e+02, 6.20e+01, ..., 2.52e+01, 1.28e-01, 2.10e+01],
       [0.00e+00, 1.34e+02, 5.80e+01, ..., 2.64e+01, 3.52e-01, 2.10e+01]])

In [39]:
rows = []
for i in range(768):
    rows.append(i)
for col in dataset.columns[1:-2]:
    for row in rows:
        if dataset[col][row] == 0:
            dataset[col][row] = np.nan
dataset

C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan
C:\Users\slava\AppData\Local\Temp\ipykernel_12168\1447842013.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col][row] = np.nan

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [40]:
np.nan

nan